body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

textarea{
  background: transparent;
  border: 0.02rem solid #3cc2da;
  resize: none;
  color: #4cd863;
  padding: 10px;
}

textarea:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #06AED5;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

textarea[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  padding: 0.7rem;
  border: 0.02rem rgba(90, 230, 136, 0.5);
}

.jumbotron {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #06AED5;
}

h1 {
  font-size: 2.6rem;
  color: #3cc2da;
  margin-bottom: 2rem;
  font-weight: 900;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  height: 80px;
  border-top: 1px solid white;
  margin-bottom: 0.8rem;
  text-align: center;
}

.past {
  border: 1px solid #3cc2da;
  border-left: 0.7rem solid #3cc2da; 
  background-color: #c3dde2;
  color:  black;
}

.present {
  border: 1px solid #e05952;
  border-left: 0.7rem solid #e05952;
  background-color: #ebb7b4;
  color: black;
}

.present:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #e05952;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.future {
  border: 1px solid rgba(90, 230, 136, 0.5);
  border-left: 0.7rem solid rgba(90, 230, 136, 0.5); 
  background-color: #addbad;
  color: black;
}

.future:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(90, 230, 136, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.saveBtn {
  padding: 1.5rem;
  background-color: #06AED5;
  color: white;
  border: 1px solid #06AED5;
  text-align: center;
}

.saveBtn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #06AED5;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.saveBtn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.hour {
  width: 100px;
}

.entryArea {
  width: calc(100% - 200px);
}

.saveBtn {
  width: 100px;
}